.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;

  }


  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .activate-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .google-btn, .facebook-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }
  
  .google-btn {
    background: red;
  }
  
  .facebook-btn {
    background: blue;
  }
  
  .close-btn {
    padding: 8px 15px;
    cursor: pointer;
    position: absolute;
    left: 310px;
    bottom: 380px;
    
  }
  .btn4{
    margin: 10px 0;
    background: blue;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
  }